body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px 20px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin-top: -20px;
}

h1 {
    font-size: 50px;
    text-shadow: 2px 2px 2px hotpink;
}

#addBook {
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid gray;
    background-color: honeydew;
    align-self: flex-start;
    margin-top: 50px;
    margin-right: 3px;    
}

.cardsContainer {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    word-wrap: break-word;
    width: 300px;
    /* min-height: 300px; */
    border: 1px solid goldenrod;
    box-shadow: 3px 3px 5px gray;
    border-radius: 10px;
    padding: 15px;
}

h2 {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin: 0;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid black;
    align-items: center;
    word-break: break-word;
}

.subheading {

    margin-left: 15px ;
    font-weight: bold;
    text-transform: capitalize;
}

span {
    font-weight: normal;
    text-transform:none;
}

#popUp{
    display: none;
    position: fixed;
    left: 40%;
    top: 10%;
    border: 2px solid darkblue;
    background-color: white;
}

.read {
    font-weight: normal;
    font-size: medium;
    text-transform:none;
    margin-left: 10px;
    word-break: normal;
}

.readYes,
.readNo {
    display: inline;
    margin: 5px
}

.deleteBook {
    margin-top: auto;
}